<div class="jumbotron">
  <form id="signUpForm" [formGroup]="sfForm" (ngSubmit)="savePlayer()">

    <mat-form-field>
      <input matInput placeholder="Alias..." formControlName="alias">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Character" formControlName="character">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Region..." formControlName="region">
    </mat-form-field>

    <p><small>By signing this, you have agreed to all tournament rules.</small></p>
    <mat-form-field>
      <input matInput placeholder="Signature" formControlName="signature">
    </mat-form-field>

    <button mat-raised-button>Fight!!!</button>
  </form>
</div>
