<div class="jumbotron">
  <form id="signUpForm" [formGroup]="sfForm" (ngSubmit)="savePlayer()">

    Value: {{ sfForm.value | json }}

    <mat-form-field>
      <input matInput placeholder="alias..." formControlName="alias">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="character" formControlName="character">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="region..." formControlName="region">
    </mat-form-field>

    <p><small>By signing this, you have agreed to all tournament rules.</small></p>
    <mat-form-field>
      <input matInput placeholder="signature" formControlName="signature">
    </mat-form-field>

    <button mat-raised-button>Fight!!!</button>


    <!-- <div class="form-group">
      <label for="nameInput">Name/Alias</label>
      <input type="text" class="form-control" id="nameInput" placeholder="Alias..." />
    </div>
    <div class="form-group">
      <label for="characterInput">Characters</label>
      <input type="text" class="form-control" id="characterInput" placeholder="Characters..." />
    </div>
    <div class="form-group">
      <label for="regionInput">Region</label>
      <input type="text" class="form-control" id="regionInput" placeholder="USA..." />
    </div>
    <p><small>By signing this, you have agreed to all tournament rules.</small></p>
    <div class="form-group">
      <label for="signatureInput">Signature</label>
      <input type="text" class="form-control" id="signatureInput" placeholder="Signature..." />
    </div>
    <button (click)="savePlayer()" type="submit" class="btn btn-danger">Fight!!!</button> -->
  </form>
</div>
